---
---
@import "minima";
body {
  font-size: 18px;
  line-height: 1.8em;
}
.post-content > p {
  text-indent: 2em;
}
.mgl, td strong {
  writing-mode: vertical-lr;
  font-family: "Noto Sans Mongolian"
}
a[href^="http"] {
  background: url("../assets/images/external-link.svg") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}
